<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">This application allows users to sign-up and view other users within the database once logged in.</p>
  </div>
</div>

<% include ./partials/footer %>
