<% include ./partials/header %>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <% if(data.length){
       for(var i = 0;i < data.length;i++) { %>
        <tr>
          <td><%=(i+1)%></td>
          <td><%=data[i].name%></td>
          <td><%=data[i].email%></td>
          <td><%=data[i].password%></td>
        </tr>
      <% } } else{ %>
       <tr>
          <td>No Data</td>
       </tr>
      <% } %>
    </tbody>
  </table>
</div>

<% include ./partials/footer %>
