<% include ./partials/header %>

<form class="" action="index.html" method="post">
  <div class="">
    <label>Name</label>
    <input type="text" name="name">
  </div>
  <div class="">
    <label>Email</label>
    <input type="email" name="email">
  </div>
  <div class="">
    <label>Password</label>
    <input type="password" name="password">
  </div>
  <button></button>
</form>

<% include ./partials/footer %>
